body {
    background-color: rgb(249, 255, 169);
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* background-color: rgb(250, 75, 75); */
    background-color: rgb(68, 128, 76);
    margin-left: -5.5%;
    margin-right: -5.5%;
    margin-top: -1.75%;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid beige;

    position: fixed;
    width: 100%;

    z-index: 100;
}

div#headerbottomspacing {
    padding-bottom: 7.5%;
}

header h1 {
    text-align: center;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    /* background-color: rgb(240, 144, 165);
    border: 5px dashed black; */
    padding-top: 1.5%;
    
}

div#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5%;
    
}

h5.navigation {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
    border: 2.5px solid black;
    background-color: rgba(96, 230, 107, 0.329);
    border-radius: 45% 0%;
    width: 100px;
    height: 50px;
    padding-top: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    transition-property: border-bottom color;
    transition-duration: 0.25s;
    border-bottom: 2px solid transparent;
}

a:link {
    color: black;
}

h5.navigation:hover {
    background-color: rgb(96, 230, 107);
    transition-property: background-color;
    transition-duration: 1.5s;
    background-color: 2px solid transparent;
}

a:visited {
    color: rgb(255, 183, 0);
}

a:hover {
    color: rgb(180, 255, 0);
}

a:active {
    color: rgb(247, 88, 114);
}


h3#mission {
    text-align: center;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#homepage-bannerimage {
    background-color: white;
    background-image: url(https://loremflickr.com/320/240);
    border: 1px solid black;
    height: 300px;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#schoolgroups-bannerimage {
    background-color: white;
    border: 1px solid black;
    background-image: url(https://loremflickr.com/320/240);
    height: 300px;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#resources-bannerimage {
    background-color: white;
    background-image: url(https://loremflickr.com/320/240);
    border: 1px solid black;
    height: 300px;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#news-bannerimage {
    background-color: white;
    background-image: url(https://loremflickr.com/320/240);
    border: 1px solid black;
    height: 300px;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#activities-bannerimage {
    background-color: white;
    background-image: url(https://loremflickr.com/320/240);
    border: 1px solid black;
    height: 300px;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#homepage-featured {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10%;
}

div#homepage-featured div.featured {
    border: 2px solid black;
    width: 400%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%
}

div#MHAC {
    background-color: skyblue;
}

div#Counseling {
    background-color: lightsalmon;
}

div#Quiz {
    background-color: greenyellow;
}

section {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border: 1.5px solid black;
}

section h3 {
    font-style: italic;
    background-color:rgb(149, 196, 39);
    margin-left: -2.5%;
    margin-right: -2.5%;
    border: 2.5px solid black;
}

section iframe#websterembed {
    visibility: visible;
    width: 75%;
}

section iframe#mapembed {
    visibility: visible;
    width: 75%;
}

div#changetherapy{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

button#seechild, button#seeadult {
    background-color: rgba(96, 230, 107, 0.329); 
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 10%;
}

section iframe#randomcatpicture {
    visibility: visible;
}

button#reload, input#submit {
    background-color: rgba(96, 230, 107, 0.329); 
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.gif {
    border: 0px;
}

a.outsidelink {
    color: rgb(167, 179, 0);
    font-weight: 700;
    text-decoration: underline;
}

strong#MHACemail {
    color: rgb(167, 179, 0);
}

button#reload:hover, button#seechild:hover, button#seeadult:hover {
    background-color: rgb(96, 230, 107);
    transition-property: background-color;
    transition-duration: 0.95s;
    background-color: 2px solid transparent;
}

section.pagedescription {
    background-color: transparent;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a#quizlink {
    border: 5px double black;
    background-color: rgb(96, 230, 107);
}

div#result {
    border: 5px double black;
    background-color: rgb(217, 255, 127);
}

div.hide {
    display: none;
}

footer {
    text-align: center;
    color: beige;
    background-color: rgb(68, 128, 76);
    margin-left: -5.5%;
    margin-right: -5.5%;
    margin-top: 5%;
    border: 5px solid beige;
}

/* media queries for responsive design */

/* phone portrait */
@media (max-width: 750px) and (orientation: portrait) {
    body {
        margin-left: 4.25%;
        margin-right: 4.25%;

        font-size: 125%;
    }

    .gif {
        width: 75%;
        height: 75%;
    }

    div#navbar, h5.navigation {
        width: 30%;
        font-size: 25%;
        height: 85%;
        margin-top: 2%;
    }

    h5.navigation {
        width: 250px;
        font-size: 3.5px;
        padding-bottom: 5%;
    }

    h1 {
        font-size: 85%;
    }
}

/* phone landscape */
@media (min-width: 750px) {
}